@import '../../styles/styles.scss';

.tecnologies{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: auto; 
    justify-items: center;
    align-items: center;
    grid-gap: 24px; 
    
    &__item{
        p{
            text-align: center;
            font-size: 2.0rem;
            margin: 4px 0px;
        }
    }    
    img{
        width: 120px;
        height: 120px;
        filter: grayscale(1);
            &:hover{
                
                filter: grayscale(0);
                transition-duration: 400ms;
            }
        
        
    }
}
